.Artist {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(130, 211, 171); */


  h1 {
    font-size: 3em;
  }

  .artistMap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}