.EventUnic {
 margin: auto;
  background-color: rgb(214, 253, 233);
  border-radius: 20px;
  width: 40%;
  color: lightcoral;

  img {
    width: 40%;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 2em;
  }


}