.EventUnic {
 margin: auto;
  background-color: rgb(186, 207, 196);
  border-radius: 20px;
  width: 40%;

  img {
    width: 40%;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 2em;
  }


}