.ArtistUnic {
    background-color: rgb(184, 252, 217);
    border-radius: 20px;
    font-size: 2em;
    margin: 20px;
    width: 40%;
    color: lightcoral;

    img {
      width: 40%;
      margin: 10px;
    }
}